---
---
<div id="start" class="hero h-screen w-screen relative overflow-hidden bg-black">
  <video autoplay muted loop
    class="w-auto h-auto min-h-screen min-w-full absolute -bottom-10 lg:static m-auto lg:mt-auto opacity-70 scale-105 js-hero-video"
  >
  </video>
  <div class="hero-content max-w-none mt-24 md:mt-auto mb-auto">
    <div class="container text-white">
      <p class="heading text-3xl xl:text-8xl leading-snug font-extrabold uppercase">Profesjonalny płytkarz <br class="hidden lg:inline"/>w Poznaniu</p>
      <p class="py-6 text-lg xl:text-2xl leading-snug font-extrabold text-base-200">gwarancja doskonałej jakości i trwałych efektów</p>
    </div>
  </div>
</div>

<script>
  if (window.innerWidth > 1024) {
    document.querySelector('.js-hero-video')!.innerHTML = `<source src="/output-desktop.mp4" type="video/mp4" media="all and (min-width:1025px)">`
  } else {
    document.querySelector('.js-hero-video')!.innerHTML = `<source src="/hero-mobile-output.mp4" type="video/mp4" media="all and (max-width:1024px)">`
  }
</script>