---
export interface Props {
	title: string;
	subtitle: string;
}

const { title, subtitle } = Astro.props;
---
<div id="start" class="w-screen relative overflow-hidden bg-gray-100 shadow">
  <div class="container mx-auto text-black h-full">
    <div class="flex flex-col justify-center items-start h-full pt-24 pb-4 lg:pt-16 lg:pb-8">
      <h1 class="text-2xl xl:text-4xl leading-snug font-extrabold" set:text={title}></h1>
      { subtitle && <p class="py-6 text-lg leading-snug mb-0 text-black" set:text={subtitle}></p>}
    </div>
  </div>
</div>