---
import NavIcons from "../partials/NavIcons.astro";
---
<div class="
  navbar
  sticky left-0 right-0 top-0 h-[70px]
  flex justify-start items-center
  w-full p-0 -mb-[70px]
  bg-transparent
  text-base-100
  z-20
">
  <div class="w-full lg:w-max lg:w-max-content m-auto ml-0 mt-0 flex items-center justify-start bg-black py-2 lg:py-4">
    <label for="my-drawer" class="js-nav-btn flex items-center gap-2 text-lg px-5 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
      </svg>
      Menu
    </label>
    <div class="border-l-2 m-auto ml-0 my-0 flex items-center justify-start bg-black px-5 text-lg">
      Abagard
    </div>
    <NavIcons class="pr-2 lg:hidden" />
  </div>
</div>