---
const data = [
  {
    title: '20',
    desc: 'Lat w branży'
  },
  {
    title: '360',
    desc: 'Realizacji'
  },
  {
    title: '8 000',
    desc: 'm<sup>2</sup> powierzchni'
  },
  {
    title: '100%',
    desc: 'zadowolenia'
  }
]
---
<section class="bg-stone-800">
  <div class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 xl:max-w-6xl">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-4">
      {
        data.map((el, index) => {
          return (
            <div class={`text-center`}>
              <div class="text-4xl font-bold lg:text-5xl xl:text-6xl font-heading text-white" set:html={el.title}></div>
              <p class="text-sm font-medium tracking-widest uppercase lg:text-base text-white" set:html={el.desc}></p>
            </div>
          )
        })
      }
    </div>
  </div>
</section>