---
import ArrowButton from "../partials/ArrowButton";
import LightBox from "../partials/LightBox.astro";
---
<h2 class="text-2xl lg:text-3xl mb-12 font-bold font-heading">
  {`Moje porftolio`}
</h2>
<div class={`lg:flex relative w-full mx-auto`}>
  <div class={`grid grid-cols-2 gap-4 lg:gap-8 w-full`}>
    <LightBox isExcerpt={true} imagesHeight='short' />
  </div>
</div>
<div class="flex justify-end items-center mt-10">
  <ArrowButton href="/portfolio/" title="Zobacz pełną galerię" bgColor="black" />
</div>
