---
import ArrowButton from "../partials/ArrowButton";
import LightBox from "../partials/LightBox.astro";
---
<div class={`lg:flex relative w-full mx-auto`}>
  <div class={`grid grid-cols-2 gap-4 w-full`}>
    <LightBox isExcerpt={true} imagesHeight='short' />
  </div>
</div>
<div class="flex justify-end items-center mt-10">
  <ArrowButton href="/portfolio/" title="Zobacz pełne portfolio" bgColor="black" />
</div>
