---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Numbers from '../components/sections/Numbers.astro';
import Steps from '../components/sections/Steps.astro';
import Faq from '../components/sections/Faq';
import Content from '../components/sections/Content.astro';
import Portfolio from '../components/sections/Portfolio.astro';

const title = "Płytkarz Poznań - Profesjonalne Usługi Glazurnicze w Poznaniu"
const description = "Łazienki na gotowo. Profesjonalne układanie płytek wielkoformatowych. Jako czołowy płytkarz Poznania doprowadzę Twój dom lub firmę do idealnego stanu!"
---

<Layout title={title} description={description}>
	<main>
    <Hero />
    <Portfolio isExcerpt={true} />
    <Numbers />
    <Faq client:idle />
    <Steps />
    <Content />
	</main>
</Layout>