---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Numbers from '../components/sections/Numbers.astro';
import Steps from '../components/sections/Steps.astro';
import Faq from '../components/sections/Faq.jsx';
import Content from '../components/sections/Content.astro';
import Footer from '../components/sections/Footer.astro';
import ContactData from '../components/partials/ContactData.astro';

const title = "Płytkarz Poznań - Profesjonalne Usługi Glazurnicze w Poznaniu"
const description = "Profesjonalne układanie płytek wielkoformatowych. Najlepszy płytkarz w Poznaniu pomoże Ci doprowadzić Twój dom lub firmę do idealnego stanu."
---

<Layout title={title} description={description}>
	<main>
    <ContactData />
    <Hero />
    <Steps />
    <Numbers />
    <Faq client:idle />
    <Content />
	</main>
  <Footer />
</Layout>