---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Numbers from '../components/sections/Numbers.astro';
import Steps from '../components/sections/Steps.astro';
import Faq from '../components/sections/Faq';
import Content from '../components/sections/Content.astro';
import Portfolio from '../components/sections/Portfolio.astro';
import References from '../components/sections/References.astro';

const frontmatter = {
  metaTitle: "Płytkarz Poznań - Profesjonalne Usługi Glazurnicze w Poznaniu",
  metaDescription: "Łazienki na gotowo. Profesjonalne układanie płytek wielkoformatowych. Jako czołowy płytkarz Poznania doprowadzę Twój dom lub firmę do idealnego stanu!"
}
---

<Layout frontmatter={frontmatter}>
	<main>
    <Hero />
    <Portfolio isExcerpt={true} transition:persist />
    <Numbers />
    <Steps />
    <Faq client:idle transition:persist />
    <References />
    <Content />
	</main>
</Layout>