---
import Layout from '../layouts/Layout.astro';
import PortfolioGallery from '../components/sections/Portfolio.astro';
import HeroArticle from '../components/sections/HeroArticle.astro';

const frontmatter = {
  metaTitle: "Portfolio - galeria realizacji usług płytkarskich w Poznaniu",
  metaDescription: "Zobacz niektóre z moich realizacji z zakresu usług płytkarskich. Posiadam szerokie doświadczenie w wykonywaniu prac zarówno w domach prywatnych, jak i w obiektach użytku publicznego w Poznaniu. Oferuję profesjonalne doradztwo, szybką i fachową realizację oraz konkurencyjne ceny."
}
---

<Layout frontmatter={frontmatter}>
	<main>
    <HeroArticle
      title="Portfolio realizacji płytkarkich firmy Abagard w Poznaniu"
      subtitle="Profesjonalizm, doświadczenie i indywidualne podejście do każdego zlecenia"
    />
    <PortfolioGallery isExcerpt={false} />
	</main>
</Layout>