---

---
<div class="relative">
  <i class="
    absolute z-1 hidden lg:block
    w-screen h-full bg-accent
    left-0 bottom-0 top-0
  "></i>
  <Astro.props.size class="lg:text-white font-bold text-3xl lg:text-5xl relative z-3 lg:py-4 lg:pl-8 m-0 w-full">
    {Astro.props.title}
  </Astro.props.size>
</div>