---
export type RatingProps = {
  value?: number;
}

const { value }: RatingProps = Astro.props;
---
<div class="rating">
  {Array.from({ length: 5 }, (_, index) => (
    <input
      type="radio"
      name="rating-2"
      class="mask mask-star-2 bg-orange-400"
      checked={value === index + 1}
      disabled
    />
  ))}
</div>