---
import "@fontsource/work-sans"
import {
  ImageSupportDetection,
} from "astro-imagetools/components"
import Navbar from "../components/sections/Navbar.astro"
import Footer from '../components/sections/Footer.astro';
import "../global.css"
import NavMobile from "../components/partials/NavMobile.astro"
import schema from "../libs/schema.json"
import ContactData from '../components/partials/ContactData.astro';

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html 
  lang="pl-PL" 
  class="scroll-smooth no-scrollbar"
  data-theme="cmyk"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description}>
    <script type="application/ld+json" set:html={JSON.stringify(schema)}>
    </script>
    <ImageSupportDetection />
    <style>
      * { font-family: "Work Sans", sans-serif; }
    </style>
	</head>
	<body class="no-scrollbar text-base-content bg-base-100">
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content scroll-smooth no-scrollbar overflow-x-hidden relative">
        <Navbar />
        <ContactData />
        <slot />
        <Footer />
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <NavMobile />
      </div>
    </div>
	</body>
</html>